.auth-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 35%;
  padding: 2rem;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.auth-title {
  text-align: center;
  margin-bottom: 2rem;
}

.auth-main {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.input-group {
  margin-bottom: 1rem;
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.checkbox label {
  margin: 0px;
  font-size: 1rem;
}

.checkbox #remember-me {
  height: 15px;
  width: 15px;
  margin: 0rem;
}

.box-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.forgot-link {
  color: var(--primary-color);
}

.auth-btn {
  width: 100%;
  margin: 1rem 0rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.auth-btn:hover {
  opacity: 0.7;
}

.create-link {
  font-weight: 400;
}

.auth-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.auth-link-wrapper:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 1100px) {
  .auth-card {
    width: 50%;
    min-width: max-content;
  }
}

@media screen and (max-width: 800px) {
  .auth-card {
    width: 60%;
    min-width: max-content;
  }
}

@media screen and (max-width: 600px) {
  .auth-card {
    width: 90%;
    min-width: max-content;
  }
  .box-link-wrapper {
    gap: 1rem;
  }
}
